* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Poppins", serif;
  --text: 400 1rem/1.5 var(--font-family);
  --text-sm: 400 .875rem/1.4 var(--font-family);

  --text-primary: #292524;
  --text-secondary: #57534E;
  --text-tertiary: #8F8881;
  --text-highlight: #E43A12;

  --surface-primary: #FFFFFF;
  --surface-secondary: #fee7d6;

  --stroke-default: #D6D3D1;
  --stroke-hightlight: #F3541C;
  --semantic-error: #DC2626;
}

body {
  overflow: hidden;
}